<div class = "container" >

  <div class = "row" >
    <div class = "mx-auto mt-5" >
      <% if flash[:notice] %>
        <p id = "notice">
          <%= flash[:notice] %>
        </p>
        <% end %>
      <h1 style="font-family: 'Comfortaa', cursive; font-weight:600;">About</h1>
    </div>
  </div>

  <div class = "row" >
    <div class = "mx-auto mt-5" >
      <h3 style = "font-family: 'Kiwi Maru', serif;">　「花の咲く場所、、、」</h3>
    </div>
  </div>

  <div class = "row" >
    <div class = "mx-auto mt-5" >
      <p>「いつ、どこで、どんな花が咲いてたか、、、」</p>
      <p>そんな情報を多くの人が投稿することができて、</p>
      <p>もしもそんな情報を、多くの人が共有することができたら、、、</p>
      <p>私達はまだ知らない、、、</p>
      <p>「花の咲く場所」に巡り会う事ができるかも、、、</p>
    </div>
  </div>

</div>
