<h1>Admin::PostImages#index</h1>
<p>Find me in app/views/admin/post_images/index.html.erb</p>

<h3>投稿一覧</h3>

<%= form_tag admin_post_images_path, method: :get, class: 'boards_searchForm' do %>
  <%= select_tag :tag_id,
  options_from_collection_for_select(Tag.all,:id,:area,params[:tag_id]),
  {
    prompt: 'エリアで絞り込み検索',
    onchange: 'submit(this.form);'
  } %>

  <% end %>

<%= render 'post',post_images: @post_images %>