<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

<h3>管理者ページ</h3>

<h3>Users</h3>

<div>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(100,100) %>
            <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

