<div class = "container" >

  <div class = "row" >

    <div class = "mx-auto" >

      <h3 class = "mt-3">退会確認画面</h3>

      <h1 class = "mt-3"><strong>本当に退会しますか？</strong></h1>

      <p class = "m-5"><%= link_to '退会しません',public_user_path(@user.id),class: "btn btn-primary" %> <%= link_to '退会します',public_withdraw_path,method: :patch,class: "btn btn-danger" %></p>

      <h5>一度、退会させますと、投稿した内容の閲覧ができなくなります。</h5>


    </div>

  </div>

</div>
