<div class = "container" >

  <div class = "row" >
    <div class = "mx-auto mt-5">
      <h3 style = "font-family: 'Kiwi Maru', serif;">退会確認画面</h3>
    </div>
  </div>

  <div class = "row" >
    <div class = "mx-auto mt-5 mb-5">
        <h1>本当に退会しますか？</h1>
    </div>
  </div>

  <div class = "row">
      <div class = "ml-auto mr-3">
        <label><%= link_to '退会しません',public_user_path(@user.id),class: "btn btn-primary" %></label>
      </div>

      <div class = "mr-auto ml-3">
        <label><%= link_to '退会します',public_withdraw_path,method: :patch,class: "btn btn-danger" %></label>
      </div>
  </div>

  <div class = "row">
    <div class = "mx-auto mt-5">
      <h5><i class="fas fa-exclamation-circle"></i>　一度、退会させますと、投稿した内容の閲覧ができなくなります。</h5>
    </div>
  </div>

</div>
